@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.espacamento_container {
  padding: 0 1rem;
}

.marca_pagina {
  height: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.marca_pagina .pagina {
  font-size: 14px;
  color: #5468E7;
  font-weight: bold;
}
.marca_pagina .nome_pagina {
  font-size: 40px;
  font-weight: 700;
  color: #232340;
}
.marca_pagina .descricao_pagina {
  color: #606060;
}
.marca_pagina .passa_pagina {
  width: 100%;
  max-width: 140px;
  height: 100%;
  max-height: 48px;
  display: flex;
  align-items: center;
}
.marca_pagina .passa_pagina #seta-passar {
  background-color: #5468E7;
}
.marca_pagina .passa_pagina .passar {
  margin-right: 20px;
  width: 48px;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#index_body {
  width: 100vw;
  height: 200vh;
  background-image: url(../assets/line-1.svg);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}
#index_body #main {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
}
#index_body #main .hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
#index_body #main .hero .textos {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
#index_body #main .hero .textos .container__hero-titulo {
  width: 80%;
  font-size: 3rem;
  font-weight: 700;
  color: #232340;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5rem;
}
#index_body #main .hero .textos .container__hero-descricao {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #606060;
  font-size: 1rem;
  margin: 1rem 0;
  width: 80%;
  line-height: 25px;
}
#index_body #main .hero .textos .container__hero-botao {
  width: 100%;
  max-width: 35%;
  text-align: center;
  padding: 1.5rem 2rem;
  background-color: #5468E7;
  text-decoration: none;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  border-radius: 8px;
  margin-top: 1rem;
}
#index_body #main .hero .textos .passa_pagina {
  width: 100%;
  max-width: 140px;
  height: 100%;
  max-height: 48px;
  display: flex;
  align-items: center;
}
#index_body #main .hero .textos .passa_pagina #seta-passar {
  background-color: #5468E7;
}
#index_body #main .hero .textos .passa_pagina .passar {
  margin-right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#index_body #main .hero .textos .swiper {
  display: none;
  width: 100%;
  height: 40px;
  max-width: 180px;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: #8B8B8B;
}
#index_body #main .hero .textos .swiper .botao_swiper {
  width: 48px;
  height: 48px;
  background-color: #C897E4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
#index_body #main .hero .img-container-hero {
  width: 100%;
}
#index_body #main .hero .img-container-hero_desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  #index_body {
    background-image: url(../assets/line-hero-desktop.svg);
    background-position: center top 0;
    background-repeat: no-repeat;
  }
  #index_body #main {
    height: 150vh;
    width: 100vw;
  }
  #index_body #main .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  #index_body #main .hero .textos {
    height: 100%;
  }
  #index_body #main .hero .textos .container__hero-titulo {
    font-size: 63px;
  }
  #index_body #main .hero .textos .passa_pagina {
    display: none;
  }
  #index_body #main .hero .textos .swiper {
    margin-top: 1rem;
    display: flex;
  }
  #index_body #main .hero .textos .container__hero-botao {
    max-width: 50%;
  }
  #index_body #main .hero .img-container-hero {
    display: none;
  }
  #index_body #main .hero .img-container-hero_desktop {
    width: 100%;
    display: block;
    align-self: flex-start;
  }
}
#about_body {
  width: 100vw;
  height: 300vh;
}
#about_body .cabecalho {
  background-color: #FFFFFF;
}
#about_body .about {
  width: 100%;
  height: 100%;
  background-color: #232340;
  display: flex;
  flex-direction: column;
}
#about_body .about .container_about {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
#about_body .about .container_about .container_about_titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
}
#about_body .about .container_about .container_about_titulo .options_title {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
#about_body .about .container_about .container_about_titulo .options_title .line__nome-pagina {
  font-size: 0.875rem;
  font-weight: 600;
  color: #FFFFFF;
}
#about_body .about .container_about .container_about_titulo .options_title .line__nome-pagina span {
  color: #ADADAD;
  margin-right: 0.5rem;
}
#about_body .about .container_about .container_about_titulo .options_title .titles {
  display: flex;
  flex-direction: column;
}
#about_body .about .container_about .container_about_titulo .options_title .titles .about__titulo {
  margin: 1.5rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #FFFFFF;
}
#about_body .about .container_about .container_about_titulo .options_title .titles .slide_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#about_body .about .container_about .container_about_titulo .options_title .titles .slide_bar #passar_pagina_about .passar {
  padding: 1rem;
}
#about_body .about .container_about .container_about_titulo .options_title .titles .input_slide select {
  border: none;
  color: #FFFFFF;
  background: transparent;
  padding: 3rem;
  font-size: 12px;
}
#about_body .about .container_about .img-about {
  width: 100%;
  max-width: 638px;
}
#about_body .about .container_about .about_description_container {
  width: 85%;
  margin: 3em auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about_body .about .container_about .about_description_container .about_description .about_description_titulo {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
#about_body .about .container_about .about_description_container .about_description .about_description_texto {
  font-size: 1rem;
  font-weight: 400;
  color: #8B8B8B;
  margin: 2rem 0;
}
#about_body .about .container_about .about_description_container .about_description .about_description_botao {
  margin-top: 2rem;
  width: 40%;
  padding: 1.2rem 1.2rem;
  text-align: center;
  background-color: #5468E7;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  border-radius: 8px;
}
#about_body .about .container_about .about_description_container .about_description_numero {
  width: 19.375rem;
  height: 19.375rem;
  border-radius: 50%;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
#about_body .about .container_about .about_description_container .about_description_numero .numero {
  font-size: 8.75rem;
  font-weight: 600;
  color: #FFFFFF;
}
#about_body .about .container_about .about_description_container .about_description_numero .descriprion_numero {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFFFFF;
}
#about_body footer {
  margin-top: 4rem;
}

@media screen and (max-width: 768px) {
  #about_body .about .container_about .options_title .container_about_titulo .titles {
    flex-direction: row;
  }
}
#footer {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/linha-footer.svg);
  box-sizing: border-box;
  background-position: bottom 0 left 0;
  background-repeat: no-repeat;
}
#footer .footer_container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
#footer .footer_container .footer__hello {
  height: 100%;
  background: #5468E7;
  color: #FFFFFF;
  border-radius: 24px;
  background-image: url(../assets/line2-footer.svg);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
#footer .footer_container .footer__hello .container_hello {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.711111px solid #FFFFFF;
}
#footer .footer_container .footer__hello .container_hello .icone_mensagem {
  width: 100%;
  max-width: 75px;
}
#footer .footer_container .footer__hello .container_hello .logo-rosa {
  display: none;
}
#footer .footer_container .footer__hello .container_hello .hello .hello_cumprimento {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
#footer .footer_container .footer__hello .container_hello .hello .hello_cumprimento .texto {
  font-size: 0.875rem;
  font-weight: 600;
}
#footer .footer_container .footer__hello .container_hello .hello .hello_descricao {
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
  width: 75%;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
}
#footer .footer_container .footer__hello .footer_next {
  width: 85%;
  margin: 0 auto;
  height: 50%;
  display: flex;
  align-items: center;
}
#footer .footer_container .footer__hello .footer_next .direita {
  height: 100%;
  width: 50%;
  display: none;
  border-left: 1px solid #FFFFFF;
  justify-content: center;
  align-items: center;
}
#footer .footer_container .footer__hello .footer_next .direita .direita_container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}
#footer .footer_container .footer__hello .footer_next .direita .direita_container .icone_mensagem {
  width: 20%;
}
#footer .footer_container .footer__hello .footer_next .direita .direita_container .botao_passar {
  display: flex;
  justify-content: space-between;
}
#footer .footer_container .footer__hello .footer_next .direita .direita_container .botao_passar .footer_frase {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}
#footer .footer_container .footer__hello .footer_next .direita .direita_container .botao_passar .botao_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}
#footer .footer_container .footer__hello .footer_next .esquerda {
  display: flex;
  flex-direction: column;
}
#footer .footer_container .footer__hello .footer_next .esquerda .footer_chamada {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
#footer .footer_container .footer__hello .footer_next .esquerda .footer_botao {
  margin-top: 3rem;
  width: 100%;
  background-color: #FFFFFF;
  padding: 1.5rem 0;
  text-align: center;
  border-radius: 8px;
  color: #5468E7;
  font-weight: 600;
  text-decoration: none;
}
#footer .footer_container .footer_redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .footer_container .footer_redes-sociais .footer_logo {
  margin-top: 4rem;
  width: 100%;
  max-width: 140px;
}
#footer .footer_container .footer_redes-sociais .footer_descricao_mobile,
#footer .footer_container .footer_redes-sociais .footer_descricao_desktop {
  margin: 2rem 0;
  text-align: center;
  color: #ADADAD;
  font-size: 1rem;
}
#footer .footer_container .footer_redes-sociais .footer_descricao_desktop {
  display: none;
}
#footer .footer_container .footer_redes-sociais .footer_select {
  display: block;
  width: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: #606060;
}
#footer .footer_container .footer_redes-sociais #facebook {
  background-color: #5468E7;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite {
  margin: 3rem 0 1.5rem 0;
  text-align: center;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite .footer_copyrire-rede-social {
  width: 100%;
  max-width: 160px;
  height: 100%;
  display: flex;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite .footer_copyrire-rede-social .backgroud-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite .copyrite {
  margin-top: 2rem;
  font-size: 12px;
  color: #ADADAD;
  font-weight: 600;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite_desktop {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D8D8D8;
  padding: 2rem 0;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite_desktop .copyrite {
  font-size: 12px;
  color: #ADADAD;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite_desktop .follow {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
#footer .footer_container .footer_redes-sociais .footer_copyrite_desktop .follow .follow_text {
  color: #5468E7;
  font-size: 12px;
  font-weight: 600;
}
#footer .footer_container .footer_redes-sociais .cabecalho__nav {
  display: none;
  width: 100%;
  max-width: 50%;
}
#footer .footer_container .footer_redes-sociais .cabecalho__nav .nav__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
#footer .footer_container .footer_redes-sociais .cabecalho__nav .nav__list #azul {
  color: #5468E7;
}
#footer .footer_container .footer_redes-sociais .cabecalho__nav .nav__list .nav__list-item-link {
  text-decoration: none;
  font-size: 600;
  color: #8B8B8B;
}

@media screen and (min-width: 768px) {
  #footer .footer_container .footer__hello .container_hello .icone_mensagem {
    display: none;
  }
  #footer .footer_container .footer__hello .container_hello .logo-rosa {
    display: block;
  }
  #footer .footer_container .footer__hello .footer_next {
    justify-content: initial;
  }
  #footer .footer_container .footer__hello .footer_next .direita {
    display: flex;
  }
  #footer .footer_container .footer__hello .footer_next .esquerda {
    width: 50%;
  }
  #footer .footer_container .footer__hello .footer_next .esquerda .container_esquerda {
    width: 90%;
    margin: 0 auto;
  }
  #footer .footer_container .footer__hello .footer_next .esquerda .footer_botao {
    display: none;
  }
  #footer .footer_container .footer_redes-sociais .footer_descricao_mobile {
    display: none;
  }
  #footer .footer_container .footer_redes-sociais .footer_descricao_desktop {
    display: block;
  }
  #footer .footer_container .footer_redes-sociais .footer_select {
    display: none;
  }
  #footer .footer_container .footer_redes-sociais .cabecalho__nav {
    display: block;
  }
  #footer .footer_container .footer_redes-sociais .footer_copyrite {
    display: none;
  }
  #footer .footer_container .footer_redes-sociais .footer_copyrite_desktop {
    display: flex;
  }
}
#body_cta {
  width: 100vw;
  height: 165vh;
}
#body_cta #cta {
  height: 150vh;
  width: 85%;
  margin: 0 auto;
}
#body_cta #cta .cta_container {
  height: 90%;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  background-color: #5468E7;
  position: relative;
  z-index: 1;
}
#body_cta #cta .cta_container .rosa {
  position: absolute;
  bottom: -55px;
  right: -40px;
  z-index: -1;
}
#body_cta #cta .cta_container .marca_pagina {
  display: block;
  height: 40%;
  justify-content: space-evenly;
  width: 85%;
  margin: 0 0 0 auto;
}
#body_cta #cta .cta_container .marca_pagina .pagina {
  padding-top: 2rem;
  color: #FFFFFF;
}
#body_cta #cta .cta_container .marca_pagina .nome_pagina {
  margin: 2rem 0 0 0;
  color: #FFFFFF;
}
#body_cta #cta .cta_container .marca_pagina .passa_pagina {
  margin-bottom: 2rem;
}
#body_cta #cta .cta_container .marca_pagina .apply-now {
  background-color: #FFFFFF;
  text-decoration: none;
  color: #5468E7;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}
#body_cta .cta_desktop {
  display: none;
}
#body_cta .footer {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  #body_cta {
    height: 100%;
    width: 100vw;
  }
  #body_cta #cta {
    display: none;
  }
  #body_cta .cta_desktop {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 3rem;
  }
  #body_cta .cta_desktop .background {
    width: 100%;
    height: 80%;
    background-image: url(../assets/bg-cta_tablet.svg);
    background-repeat: no-repeat;
    border-radius: 24px;
    display: flex;
    align-items: center;
  }
  #body_cta .cta_desktop .background .marca_pagina {
    height: 70%;
    margin-left: 2rem;
  }
  #body_cta .cta_desktop .background .marca_pagina .apply-now {
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 1rem 2rem;
    color: #5468E7;
    font-weight: 600;
    text-align: center;
    width: 30%;
    border-radius: 8px;
  }
  #body_cta .cta_desktop .background .marca_pagina .nome_pagina {
    margin: 2rem 0;
  }
  #body_cta .cta_desktop .background .marca_pagina .passa_pagina {
    margin-bottom: 2rem;
  }
  #body_cta .cta_desktop .background .marca_pagina .pagina,
#body_cta .cta_desktop .background .marca_pagina .nome_pagina {
    color: #FFFFFF;
  }
}
#body_jobs {
  width: 100vw;
  height: 200vh;
  background-image: url(../assets/line-jobs.svg);
  background-repeat: no-repeat;
  background-position: right 0;
}
#body_jobs .container_jobs {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  width: 100%;
  height: 100%;
}
#body_jobs .container_jobs #jobs {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}
#body_jobs .container_jobs #jobs .marca_pagina {
  height: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#body_jobs .container_jobs #jobs .marca_pagina .pagina {
  font-size: 14px;
  color: #5468E7;
  font-weight: bold;
}
#body_jobs .container_jobs #jobs .marca_pagina .pagina img {
  display: none;
  position: absolute;
  left: 10px;
}
#body_jobs .container_jobs #jobs .marca_pagina .nome_pagina {
  font-size: 40px;
  font-weight: 700;
  color: #232340;
}
#body_jobs .container_jobs #jobs .marca_pagina .descricao_pagina {
  color: #606060;
  font-weight: 400;
  max-width: 260px;
}
#body_jobs .container_jobs #jobs .marca_pagina .swiper {
  display: none;
  width: 100%;
  height: 40px;
  max-width: 180px;
  align-items: center;
  text-decoration: none;
  justify-items: flex-end;
  font-weight: 600;
  color: #8B8B8B;
}
#body_jobs .container_jobs #jobs .marca_pagina .swiper .botao_swiper {
  width: 35px;
  height: 35px;
  background-color: #C897E4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
#body_jobs .container_jobs #jobs .container_jobs-cards {
  height: 80%;
  margin-top: 2rem;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list {
  margin-bottom: 1rem;
  background-color: #FFFFFF;
  padding: 3rem 2rem;
  border-radius: 24px;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list .list-link {
  text-decoration: none;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list .list-link .list-hover {
  display: none;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list .list-link h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #232340;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list .list-link p {
  color: #606060;
  margin: 1rem 0;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list:hover {
  background-color: #232340;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list:hover .list {
  width: 100vw;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list:hover .list-link .list-hover {
  display: block;
}
#body_jobs .container_jobs #jobs .container_jobs-cards .cards-list .list:hover .list-link h2 {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  #body_jobs {
    background-position: left 120px top 0;
  }
  #body_jobs .container_jobs #jobs {
    height: 75%;
    display: flex;
    margin-top: 2rem;
  }
  #body_jobs .container_jobs #jobs .marca_pagina {
    width: 100%;
    max-width: 40%;
    height: 30%;
    justify-content: space-between;
  }
  #body_jobs .container_jobs #jobs .marca_pagina .swiper {
    display: flex;
  }
  #body_jobs .container_jobs #jobs .marca_pagina .nome_pagina {
    font-size: 6.1875rem;
  }
  #body_jobs .container_jobs #jobs .marca_pagina .pagina img {
    display: block;
  }
  #body_jobs .container_jobs #jobs .container_jobs-cards {
    width: 90%;
    margin: 0;
  }
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 85%;
  margin: 0 auto;
}
.cabecalho .botao {
  display: none;
  background-color: #232340;
  border-radius: 10px;
}
.cabecalho .botao a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600;
  padding: 1rem 2rem;
}
.cabecalho .logo-menu-aberto,
.cabecalho .redes-sociais__menu {
  display: none;
}
.cabecalho .cabecalho__nav {
  display: none;
}
.cabecalho .menu_toggle {
  width: 32px;
}
.cabecalho .menu_toggle .one,
.cabecalho .menu_toggle .two {
  background-color: #232340;
  height: 2px;
  width: 100%;
  margin: 6px 0;
}
.cabecalho .on {
  width: 100vw;
  height: 100vh;
  transition: all 0.5s;
  background-color: #232340;
  background-image: url(../assets/line-menu.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 0px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cabecalho .on .cabecalho__nav {
  display: block;
  width: 85%;
  margin: 0 auto;
}
.cabecalho .on .cabecalho__nav .nav__list .nav__list-item:not(:first-child) {
  margin-top: 2rem;
}
.cabecalho .on .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: none;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}
.cabecalho .on .botoes_menu {
  width: 85%;
  margin: 2rem auto 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho .on .botoes_menu img {
  display: block;
}
.cabecalho .on .botoes_menu .menu_toggle .one,
.cabecalho .on .botoes_menu .menu_toggle .two {
  background-color: #ffffff;
}
.cabecalho .on .botoes_menu .menu_toggle .one {
  transform: rotate(45deg) translate(5px);
}
.cabecalho .on .botoes_menu .menu_toggle .two {
  transform: rotate(135deg) translate(-6px);
}
.cabecalho .on .redes-sociais__menu {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
.cabecalho .on .redes-sociais__menu img {
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid #D8D8D8;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  #index_body .cabecalho .botao,
#about_body .cabecalho .botao,
#body_jobs .cabecalho .botao,
#body_services .cabecalho .botao,
#body_cta .cabecalho .botao,
#body_work .cabecalho .botao,
#body_footer .cabecalho .botao {
    display: flex;
  }
  #index_body .cabecalho .menu,
#about_body .cabecalho .menu,
#body_jobs .cabecalho .menu,
#body_services .cabecalho .menu,
#body_cta .cabecalho .menu,
#body_work .cabecalho .menu,
#body_footer .cabecalho .menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #index_body .cabecalho .menu .cabecalho__nav,
#about_body .cabecalho .menu .cabecalho__nav,
#body_jobs .cabecalho .menu .cabecalho__nav,
#body_services .cabecalho .menu .cabecalho__nav,
#body_cta .cabecalho .menu .cabecalho__nav,
#body_work .cabecalho .menu .cabecalho__nav,
#body_footer .cabecalho .menu .cabecalho__nav {
    display: block;
    width: 100%;
  }
  #index_body .cabecalho .menu .cabecalho__nav .nav__list,
#about_body .cabecalho .menu .cabecalho__nav .nav__list,
#body_jobs .cabecalho .menu .cabecalho__nav .nav__list,
#body_services .cabecalho .menu .cabecalho__nav .nav__list,
#body_cta .cabecalho .menu .cabecalho__nav .nav__list,
#body_work .cabecalho .menu .cabecalho__nav .nav__list,
#body_footer .cabecalho .menu .cabecalho__nav .nav__list {
    display: flex;
    justify-content: space-around;
  }
  #index_body .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after,
#about_body .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after,
#body_jobs .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after,
#body_services .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after,
#body_cta .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after,
#body_work .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after,
#body_footer .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .notificacao::after {
    content: "2";
    width: 24px;
    height: 24px;
    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    border-radius: 50%;
    color: #FFFFFF;
    position: absolute;
    top: 20px;
    text-align: center;
  }
  #index_body .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link,
#about_body .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link,
#body_jobs .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link,
#body_services .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link,
#body_cta .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link,
#body_work .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link,
#body_footer .cabecalho .menu .cabecalho__nav .nav__list .nav__list-item .nav__list-item-link {
    text-decoration: none;
    font-weight: 600;
    color: #8B8B8B;
  }
  #index_body .cabecalho .menu .menu_toggle,
#about_body .cabecalho .menu .menu_toggle,
#body_jobs .cabecalho .menu .menu_toggle,
#body_services .cabecalho .menu .menu_toggle,
#body_cta .cabecalho .menu .menu_toggle,
#body_work .cabecalho .menu .menu_toggle,
#body_footer .cabecalho .menu .menu_toggle {
    display: none;
  }
}
#body_work {
  width: 100vw;
}
#body_work #work {
  width: 85%;
  margin: 0 auto 2rem auto;
  height: 100%;
}
#body_work #work .marca_pagina {
  height: 10%;
}
#body_work #work .marca_pagina .pagina .logo-rosa-work {
  display: none;
}
#body_work #work .marca_pagina .titulo-pagina_footer {
  height: 40%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
#body_work #work .marca_pagina .titulo-pagina_footer .botao_marca-oagina {
  display: none;
}
#body_work #work .marca_pagina .titulo-pagina_footer .nome_pagina {
  margin-bottom: 1rem;
}
#body_work #work .marca_pagina .titulo-pagina_footer .passa_pagina .passar {
  padding: 1rem;
}
#body_work #work .container_cards {
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body_work #work .container_cards .list_cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#body_work #work .container_cards .list_cards .list_item {
  width: 100%;
  max-width: 315px;
  height: 100%;
  max-height: 585%;
}
#body_work #work .container_cards .list_cards .list_item .card_laranja {
  background-color: #FFBA79;
}
#body_work #work .container_cards .list_cards .list_item .card_lilas {
  background-color: #E8BEFF;
}
#body_work #work .container_cards .list_cards .list_item .card_amarelo {
  background-color: #FFCE79;
}
#body_work #work .container_cards .list_cards .list_item .carde_azul-claro {
  background-color: #D1ECFD;
}
#body_work #work .container_cards .list_cards .list_item .header_cards {
  width: 100%;
  border-radius: 17px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#body_work #work .container_cards .list_cards .list_item .header_cards img {
  width: 100%;
}
#body_work #work .container_cards .list_cards .list_item .header_cards .card_product {
  background-color: #908CFF;
  padding: 0.5rem;
  border-radius: 15px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.625rem;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
#body_work #work .container_cards .list_cards .titulo_card {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: 700;
  color: #232340;
}
#body_work #work .container_cards .list_cards .descricao_card {
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: #606060;
}
#body_work #work .container_cards .list_cards .botao_passar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid black;
}
#body_work #work .container_cards .list_cards .botao_passar .botao_card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#body_work .work_conecta-us {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF;
  width: 85%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #5468E7;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  #body_work #work {
    margin-top: 3rem;
  }
  #body_work #work .marca_pagina {
    height: 5%;
    padding-left: 10rem;
  }
  #body_work #work .marca_pagina .pagina .logo-rosa-work {
    position: absolute;
    left: 135px;
    display: block;
  }
  #body_work #work .marca_pagina .titulo-pagina_footer {
    flex-direction: row;
    justify-content: space-between;
  }
  #body_work #work .marca_pagina .titulo-pagina_footer .botao_marca-oagina {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #5468E7;
    padding: 0.5rem 2rem;
    border-radius: 8px;
  }
  #body_work #work .marca_pagina .titulo-pagina_footer .passar {
    display: none;
  }
  #body_work .container_cards .list_cards .item_desktop {
    max-width: 500px;
  }
}
#body_services {
  width: 100vw;
  height: 300vh;
}
#body_services .container_services {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  width: 100%;
  height: 100%;
}
#body_services .container_services .marca_pagina {
  width: 85%;
  margin: 1rem auto 0 auto;
  max-height: 15%;
  height: 100%;
}
#body_services .container_services .marca_pagina .pagina img {
  display: none;
}
#body_services .container_services .marca_pagina .titulo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
#body_services .container_services .container_what-we-do__cards {
  width: 100%;
  height: 45%;
  margin-top: 2rem;
  background-image: url(../assets/line-servises-1.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}
#body_services .container_services .container_what-we-do__cards .container_cards {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}
#body_services .container_services .container_what-we-do__cards .container_cards .cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list {
  width: 100%;
  height: 40%;
  margin-bottom: 1rem;
  background-color: #FFFFFF;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list .list-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list .list-link p {
  margin-left: 1rem;
  color: #5468E7;
  font-weight: 600;
  font-size: 1.125rem;
}
#body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list:hover {
  background-color: #5468E7;
}
#body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list:hover .list-link p {
  color: #FFFFFF;
}
#body_services .container_services .achievement {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#body_services .container_services .achievement .img_achivements {
  width: 100%;
  text-align: center;
}
#body_services .container_services .achievement .img_achivements img {
  width: 100%;
  max-width: 400px;
}
#body_services .container_services .achievement .container_achievement {
  width: 85%;
  margin: 0 auto;
}
#body_services .container_services .achievement .container_achievement .marca_pagina_achievement .pagina {
  font-size: 14px;
  font-weight: 600;
  color: #232340;
}
#body_services .container_services .achievement .container_achievement .marca_pagina_achievement .pagina span {
  margin-right: 1rem;
  color: #8B8B8B;
}
#body_services .container_services .achievement .container_achievement .marca_pagina_achievement .nome_pagina {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
#body_services .container_services .achievement .container_achievement .marca_pagina_achievement .numero {
  font-size: 8.75rem;
  color: #5468E7;
  font-weight: 600;
}
#body_services .container_services .achievement .container_achievement .marca_pagina_achievement .sucesso {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #000000;
}
#body_services .container_services .achievement .navegation {
  width: 100%;
  max-width: 70px;
  max-height: 12px;
  height: 100%;
}
#body_services .container_services .achievement .navegation a {
  width: 12px;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
}

@media screen and (min-width: 768px) {
  #body_services {
    background-image: url(../assets/line-sercices.svg);
    background-repeat: no-repeat;
  }
  #body_services .container_services .marca_pagina {
    max-height: 10%;
    width: 75%;
    margin-left: 10rem;
  }
  #body_services .container_services .marca_pagina .pagina img {
    display: block;
    position: absolute;
    left: 80px;
  }
  #body_services .container_services .marca_pagina .titulo {
    margin-top: 2rem;
    flex-direction: row;
  }
  #body_services .container_services .container_what-we-do__cards {
    height: 30%;
  }
  #body_services .container_services .container_what-we-do__cards .container_cards {
    height: 65%;
  }
  #body_services .container_services .container_what-we-do__cards .container_cards .cards-list {
    flex-direction: row;
    height: 100%;
  }
  #body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list {
    height: 95%;
  }
  #body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list .list-link {
    flex-direction: column;
  }
  #body_services .container_services .container_what-we-do__cards .container_cards .cards-list .list:hover {
    height: 100%;
  }
  #body_services .container_services .achievement {
    flex-direction: row-reverse;
    width: 85%;
  }
  #body_services .container_services .achievement .container_achievement .marca_pagina_achievement {
    margin-left: 1rem;
  }
}/*# sourceMappingURL=style.css.map */