@import '../../base/variaveis';

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  width: 85%;
  margin: 0 auto;

  .botao {
    display: none;
    background-color: $botao-menu-toggle;
    border-radius: 10px;

    a {
      text-decoration: none;
      color: $branco;
      font-weight: 600;
      padding: 1rem 2rem;
    }

  }

  .logo-menu-aberto,
  .redes-sociais__menu {
    display: none;

  }

  .cabecalho__nav {
    display: none;
  }

  .menu_toggle {
    width: 32px;

    .one,
    .two {
      background-color: $botao-menu-toggle;
      height: 2px;
      width: 100%;
      margin: 6px 0;
    }
  }

  .on {
    width: 100vw;
    height: 100vh;
    transition: all .5s;
    background-color: $botao-menu-toggle;
    background-image: url(../assets/line-menu.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 0px;

    z-index: 10;

    position: absolute;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .cabecalho__nav {
      display: block;
      width: 85%;
      margin: 0 auto;

      .nav__list {
        .nav__list-item {
          &:not(:first-child) {
            margin-top: 2rem;
          }

          .nav__list-item-link {
            text-decoration: none;
            font-size: 2rem;
            font-weight: none;
            font-family: $font-primaria;
            color: white;
            font-weight: 700;
          }
        }
      }
    }

    .botoes_menu {
      width: 85%;
      margin: 2rem auto 2rem auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        display: block;
      }

      .menu_toggle {

        .one,
        .two {
          background-color: #ffffff;
        }

        .one {
          transform: rotate(45deg) translate(5px);
        }

        .two {
          transform: rotate(135deg) translate(-6px);
        }
      }
    }

    .redes-sociais__menu {
      width: 85%;
      margin: 0 auto;
      display: flex;

      img {
        padding: 1rem;
        border-radius: 50%;
        border: 1px solid $cor-borda-cinza;
        margin-right: 1rem;
        margin-bottom: 3rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {

  #index_body,
  #about_body,
  #body_jobs,
  #body_services,
  #body_cta,
  #body_work,
  #body_footer {



    .cabecalho {
      .botao {
        display: flex;
      }

      .menu {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cabecalho__nav {
          display: block;
          width: 100%;

          .nav__list {
            display: flex;
            justify-content: space-around;

            .nav__list-item {
              .notificacao::after {
                content: '2';
                width: 24px;
                height: 24px;
                background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
                border-radius: 50%;
                color: $branco;
                position: absolute;
                top: 20px;
                text-align: center;
              }

              .nav__list-item-link {
                text-decoration: none;
                font-weight: 600;
                color: $cor-font-cinza-medio-escuro;
              }
            }
          }
        }

        .menu_toggle {
          display: none;
        }
      }
    }
  }
}