<header class="cabecalho">
  <img src="./src/assets/light-mode.svg" alt="" class="cabecalho__logo" />
  <div class="menu">
    <div class="botoes_menu">
      <img src="./src/assets/logo-menu.svg" alt="" class="logo-menu-aberto" />
      <div class="menu_toggle">
        <div class="one"></div>
        <div class="two"></div>
      </div>
    </div>
    <nav class="cabecalho__nav">
      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="" class="nav__list-item-link">Work</a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__list-item-link">About</a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__list-item-link">Services</a>
        </li>
        <li class="nav__list-item">
          <a href="" class="nav__list-item-link">Jobs</a>
        </li>
      </ul>
    </nav>
    <div class="redes-sociais__menu">
      <img src="./src/assets/facebook.svg" alt="" />
      <img src="./src/assets/youtube.svg" alt="" />
      <img src="./src/assets/instagram.svg" alt="" />
    </div>
  </div>
</header>
