@import '../../../styles/base/variaveis';

#body_jobs {
  width: 100vw;
  height: 200vh;
  background-image: url(../assets/line-jobs.svg);
  background-repeat: no-repeat;
  background-position: right 0;



  .container_jobs {
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
    width: 100%;
    height: 100%;

    #jobs {
      width: 85%;
      margin: 0 auto;
      height: 100%;

      .marca_pagina {
        height: 20%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .pagina {
          font-size: 14px;
          color: $azul-claro;
          font-weight: bold;

          img {
            display: none;
            position: absolute;
            left: 10px;
          }
        }

        .nome_pagina {
          font-size: 40px;
          font-weight: 700;
          color: $botao-menu-toggle;
        }

        .descricao_pagina {
          color: $cor-font-text-cinza;
          font-weight: 400;
          max-width: 260px;
        }

        .swiper {
          display: none;
          width: 100%;
          height: 40px;
          max-width: 180px;
          align-items: center;
          text-decoration: none;
          justify-items: flex-end;
          font-weight: 600;
          color: $cor-font-cinza-medio-escuro;

          .botao_swiper {
            width: 35px;
            height: 35px;
            background-color: #C897E4;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 15px;
          }
        }
      }

      .container_jobs-cards {
        height: 80%;
        margin-top: 2rem;

        .cards-list {
          .list {
            margin-bottom: 1rem;
            background-color: $branco;
            padding: 3rem 2rem;
            border-radius: 24px;

            .list-link {
              text-decoration: none;

              .list-hover {
                display: none;
              }

              h2 {
                font-size: 1.5rem;
                font-weight: 700;
                color: $botao-menu-toggle;
              }

              p {
                color: $cor-font-text-cinza;
                margin: 1rem 0;
              }
            }

            &:hover {
              background-color: $botao-menu-toggle;

              .list {
                width: 100vw;
              }

              .list-link {
                .list-hover {
                  display: block;
                }

                h2 {
                  color: $branco;

                }
              }
            }
          }
        }

      }
    }
  }
}

@media screen and (min-width: 768px) {
  #body_jobs {
    background-position: left 120px top 0;

    .container_jobs {
      #jobs {
        height: 75%;
        display: flex;
        margin-top: 2rem;

        .marca_pagina {
          width: 100%;
          max-width: 40%;
          height: 30%;
          justify-content: space-between;

          .swiper {
            display: flex;

          }

          .nome_pagina {
            font-size: 6.1875rem;
          }

          .pagina {
            img {
              display: block;
            }
          }
        }

        .container_jobs-cards {
          width: 90%;
          margin: 0;
        }
      }
    }
  }
}