<div class="marca_pagina">
  <p class="pagina">05. We are hiring</p>
  <h1 class="nome_pagina">Jobs</h1>
  <p class="descricao_pagina">
    Agency is a full-service agency, busy designing and building beautiful
    digital products, brands, and experiences.
  </p>
  <div class="passa_pagina">
    <a href="#" class="passar">
      <img src="../../../assets/arrow-down.svg" alt="Seta para voltar" />
    </a>
    <a href="#" class="passar" id="seta-passar">
      <img src="../../../assets/arrow-after.svg" alt="Seta para passar" />
    </a>
  </div>
</div>
