$botao-menu-toggle: #232340;
$cor-borda-cinza: #D8D8D8;
$cor-font-text-cinza: #606060;
$cor-font-ciza-medio: #ADADAD;
$cor-font-cinza-medio-escuro: #8B8B8B;

$branco: #FFFFFF;
$azul-claro: #5468E7;
$font-primaria: 'Montserrat', sans-serif;